.main-nav{
  display: none;

  @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    padding: 0;
  }
     
  @media screen and (min-width: 1200px){
  display: flex;
  align-content: center;
  }

}

.main-nav__logo{
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 276px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
   
  @media screen and (min-width: 768px){
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 88px;
  }

  @media screen and (min-width: 1200px){
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  line-height: 1.19;
  }
}

.main-nav__logo--blue{
color: $accent-color;
}

.main-nav__logo--black{
    color: $black-color;
}