.modal-form{
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.modal-form__field{
  position: relative;
  display: flex;
  flex-direction: column;

  &:nth-child(-n+4){
    margin-bottom: 10px;
  }
}

.modal-form__text{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $text-color;
  margin-bottom: 4px;
}

.modal-form__input{
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus{
    border-color: $accent-color;
  }
}

.modal-form__svg{
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + &{
    fill: $accent-color;
  }
}

.modal-form__textarea{
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus{
    border-color: $accent-color;
  }

  &::placeholder{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  }
}

