$text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$black-color: #000000;
$white-color: #ffffff;
$bg-color: #2f303a;
$bg-color2:#F5F4FA; 
$fill-icon:#AFB1B8; 
$border-color: #ECECEC;
$bg-color-hero: #c4c4c4;
$button-hover: #188CE8;
$footer-contacts: rgba(255, 255, 255, 0.6);
$footer-link: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);